
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, 
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro';

}
.app {
  display: flex;
  position: relative;

}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0; ;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-track:hover {
  background: #555;
}

.Command_Box {
  font-weight: bold;
  font-size: large ;
   margin-top: 3%;
  /* margin-bottom: 5%;  */
  margin-left: 3%;
}
.AGVtable {
  text-align: left;
  align-content: flex-start;
  align-items: flex-start;
  font-size: large;
  font-weight: 800;
  /* color: #FFF8DC	; */
  /* color: #E89798; */
 /* color: #B04648; */
 color: grey;
 font-style: italic;
  
}
.BoxAGV1 {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large
}

/* .layoutTeam {
  grid-template-areas: 
  "n1 n2 c c c c c d d"
  "n3 n4 c c c c c d d"
  "n5 n6 c c c c c d d"
  "n7 n8 c c c c c d d" ;
} */

/* Team  - Table Page */

.layoutTeam {
  grid-template-areas: 
  "c c c c c a a d d d"
  "c c c c c a a d d d"
  "c c c c c a a d d d"
  "c c c c c a a d d d";
}
.Node_text_header {
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.Node_text {
  margin-left: 5%;
  font-size: medium;
  font-weight: 500;
  margin-top: 5%;
}

.Command_Box_Team {
  margin-top: 1%;
  margin-left: 4%;
  font-size: large;
  font-weight: bold;
}

/* Calendar */
.layoutCalendar {
  grid-template-areas: 
  "a a a a a b"
  "a a a a a b"
  "a a a a a b"
  "a a a a a b"
  "c c c c c b";
}
.Command_header_calendar {
  background-color: #477EB5;
}

.Command_Box_Calendar {
  font-weight: bold;
  font-size: medium; 
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.sing_in {
  font-size: large;
}
.choose_file 
{
  font-size: 16px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px black; */
  width: 30x;
  outline: none;
  font-weight: bold;
  margin-bottom: 5px;
}

::-webkit-file-upload-button
{
  color: white;
  background-color: #d8ae70;
  padding: 12px;
  border: none; 
  border-radius: 10px;
  /* box-shadow: 0 1px 1px #6b4559; */
  font-weight: bold;
  margin-left: 10px;
}
::-webkit-file-upload-button:hover
{
    background-color: #438a5e;
}